:root {
	--white: #fff;
	--smoke: #f8f8f8;
	--grey: #101010;
	--google: #d34836;
	--linkedin: #007bb5;
	--github: #32506d;
	--blue: #002266;
	--l-grey: #939393;
	--gold: #665600;
	--font-main: 'Montserrat', sans-serif;
	--font-sec: 'Charm', cursive;
	--black: #000;
}

* {
	margin: 0;
	padding: 0;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
	font-size: 62.5%;

	@media only screen and (max-width: 1007px) {
		font-size: 57%;
	}

	@media only screen and (max-width: 830px) {
		font-size: 50%;
	}
}

body {
	font-family: var(--font-main);
	font-weight: 400;
	line-height: 1.6;
	overflow-y: scroll;
	scrollbar-width: none;
	/* Firefox */
	-ms-overflow-style: none;
	background: #0052d4; /* fallback for old browsers */
	background: -webkit-linear-gradient(
		to right,
		#6fb1fc,
		#4364f7,
		#0052d4
	); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(
		to right,
		#6fb1fc,
		#4364f7,
		#0052d4
	); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

body::-webkit-scrollbar {
	/* WebKit */
	width: 0;
	height: 0;
}
