@import './scss/base';
@import './scss/intro';
@import './scss/section1';
.txt {
	position: absolute;
	top: 60%;
	left: 50%;
	color: white;
	z-index: 5;
	font-size: 3rem;
	opacity: 0;
	width: 75%;
	transform: translateX(-50%);
}
